This project aims to explore the functionalities of the Plotly package and showcase the analysis of stock market trends for five banks over a five-year period, spanning from January 1, 2020, to December 6, 2024.

In [1]:
# Import required packages
import yfinance as yf
import pandas as pd
import plotly.express as px

In [2]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [3]:
# hdfc bank nse data from 1-jan-2020 to 6-12-2024
hdfc_df = yf.download('HDFCBANK.NS', start='2020-01-01', end='2024-12-06')

# icici banknse data from 1-jan-2020 to 6-12-2024
icici_df = yf.download('ICICIGI.NS', start='2020-01-01', end='2024-12-06')

# sbi bank nse data from 1-jan-2020 to 6-12-2024
sbi_df = yf.download('SBIN.NS', start='2020-01-01', end='2024-12-06')

# axis bank nse data from 1-jan-2020 to 6-12-2024
axis_df = yf.download('AXISBANK.NS', start='2020-01-01', end='2024-12-06')

# kotak bank nse data from 1-jan-2020 to 6-12-2024
kotak_df = yf.download('KOTAKBANK.NS',  start='2020-01-01', end='2024-12-06')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [4]:
# resetting the date index as column 

hdfc_df["Date"] = hdfc_df.index
hdfc_df.reset_index(drop=True, inplace=True)

icici_df["Date"] = icici_df.index
icici_df.reset_index(drop=True, inplace=True)

sbi_df["Date"] = sbi_df.index
sbi_df.reset_index(drop=True, inplace=True)

axis_df["Date"] = axis_df.index
axis_df.reset_index(drop=True, inplace=True)

kotak_df["Date"] = kotak_df.index
kotak_df.reset_index(drop=True, inplace=True)

In [5]:
# hdfc_df.columns.values
hdfc_df.columns = [value[0] for value in hdfc_df.columns.values]

icici_df.columns = [value[0] for value in icici_df.columns.values]

sbi_df.columns = [value[0] for value in sbi_df.columns.values]

axis_df.columns = [value[0] for value in axis_df.columns.values]

kotak_df.columns = [value[0] for value in kotak_df.columns.values]

In [6]:
# creating a new column called stock_name
hdfc_df['Stock_Name'] = 'HDFC'

icici_df['Stock_Name'] = 'ICICI'

sbi_df['Stock_Name'] = 'SBI'

axis_df['Stock_Name'] = 'AXIS'

kotak_df['Stock_Name'] = 'KOTAK'

In [7]:
data_frames = [hdfc_df, icici_df, sbi_df, axis_df, kotak_df]

In [8]:
# concat the 5 stocks dataframes
stocks_5_data = pd.concat(data_frames)
stocks_5_data.head(3)

,Adj Close,Close,High,Low,Open,Volume,Date,Stock_Name
0,1227.428589,1278.599976,1280.0,1270.599976,1276.099976,1836849,2020-01-01,HDFC
1,1235.252441,1286.750000,1288.0,1279.000000,1279.000000,3068583,2020-01-02,HDFC
2,1217.636841,1268.400024,1285.0,1263.599976,1282.199951,5427775,2020-01-03,HDFC

In [9]:
# creating columns for year, date , month , day_of_week etc..
stocks_5_data['Year'] = stocks_5_data['Date'].dt.year
stocks_5_data['Month'] = stocks_5_data['Date'].dt.month
stocks_5_data['Day'] = stocks_5_data['Date'].dt.day
stocks_5_data['Day_of_week'] = stocks_5_data['Date'].dt.day_of_week

In [10]:
stocks_5_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6105 entries, 0 to 1220
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Adj Close    6105 non-null   float64
 1   Close        6105 non-null   float64
 2   High         6105 non-null   float64
 3   Low          6105 non-null   float64
 4   Open         6105 non-null   float64
 5   Volume       6105 non-null   int64
 6   Date         6105 non-null   datetime64[ns]
 7   Stock_Name   6105 non-null   object
 8   Year         6105 non-null   int32
 9   Month        6105 non-null   int32
 10  Day          6105 non-null   int32
 11  Day_of_week  6105 non-null   int32
dtypes: datetime64[ns](1), float64(5), int32(4), int64(1), object(1)
memory usage: 524.6+ KB

In [11]:
stocks_5_data.head(3)

,Adj Close,Close,High,Low,Open,Volume,Date,Stock_Name,Year,Month,Day,Day_of_week
0,1227.428589,1278.599976,1280.0,1270.599976,1276.099976,1836849,2020-01-01,HDFC,2020,1,1,2
1,1235.252441,1286.750000,1288.0,1279.000000,1279.000000,3068583,2020-01-02,HDFC,2020,1,2,3
2,1217.636841,1268.400024,1285.0,1263.599976,1282.199951,5427775,2020-01-03,HDFC,2020,1,3,4

In [12]:
# print the current nbformat version
import nbformat
print(nbformat.__version__)

5.10.4

In [13]:
# sets the default renderer for Plotly visualizations to open in the web browser, in vs_code weh should do like this
import plotly.io as pio
pio.renderers.default = 'browser'

In [14]:
# closing prices of different stocks change over the years

fig = px.bar(stocks_5_data, x="Stock_Name", y="Close", color="Stock_Name",animation_frame="Year", range_y=[0,500000], hover_data=['Day','Month'])
fig.show()

In [ ]:
# fig1 = px.scatter_3d(stocks_5_data, x="Year", y="Month", z='Volume')
# fig1.show()